@font-face {
  font-family: Stardew;
  src: url(Stardew_Valley.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Stardew";
}

html,
body {
  height: 100%;

  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

.container img {
  object-fit: cover;
  width: 50px;
}

.first {
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.letter-button {
  background: none;
  border: none;
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top-two {
  margin-top: 5vw;
}

.down {
  align-self: end;
}

.down-two {
  display: flex;
  justify-content: space-between;
}
